body {
    background-image: url("../images/star.gif");
    background-size: cover;
}

#home{
    margin-bottom: 10px;
}

#logo {
    height: 100px;
    width: 100px;
}


h1 {
    color: orange;
    text-align: center;
    font-family: 'Sigmar One', cursive;
    font-size: 80px;
    white-space: nowrap;
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {
    h1 {
      font-size: 50px;
    }
}

#menu {
    border: 0.1px solid orange;
    margin-top: 30px;
    width: 800px;
    height: 850px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

/* buttin style from : https://www.bestcssbuttongenerator.com/#/24 */
.numberP {    
    box-shadow:inset 0px 1px 0px 0px #f7c5c0;
    background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
    background-color:#fc8d83;
    border-radius:6px;
    border:1px solid #d83526;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:8px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
}
.numberP:hover {
    background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
    background-color:#e4685d;
}
.numberP:active {
    position:relative;
    top:1px;
}
    
p {
    color: yellow;
    font-size: 30px;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 1.5px;
}

button {
    margin: auto;
}

.shipOption {
    height: 70px;
    width: 70px;
    cursor: zoom-in;
}

.shipOption1 {
    height: 70px;
    width: 70px;
    cursor: zoom-in;
}

.shipOption2 {
    height: 70px;
    width: 70px;
    cursor: zoom-in;
}

#myCanvas {
    background: url('/images/space.jpg') center;
    animation: 5000s scroll infinite linear reverse;
    background-size: cover;
    margin: 0 auto;
    display: block;
    border: 0.1px solid orange;
    margin-top: 0px;
}

@keyframes scroll{
    100% {
        background-position: 0px -100000px;
    }
}