body {
    background-image: url('/images/mainbg.jpg');
}

#myCanvas {
    background: url('/images/space.jpg') center;
    animation: 5000s scroll infinite linear reverse;
    background-size: cover;
    margin: 0 auto;
    display: none;
    position: absolute

}


@keyframes scroll{
    100% {
        background-position: 0px -100000px;
    }
}